*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
}

#card {
    height: 450px;
    width: 350px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

#card img {
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 40%;
    border-radius: 10px;
}

#card h1 {
    font-size: 25px;
    margin: 10px 0;
}

#card h5 {
    font-size: 18px;
    color: red;
    margin-bottom: 20px;
}

#card button {
    background-color: orange;
    color: #fff;
    font-weight: 700;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}

#card #remove {
    background-color: #dadada;
    color: #111;
}
